@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color:#f2f2f2;
}

a{
	text-decoration:none;
	color:#000;
}

.navbar{
	background-color:#002E54;
}

.active{
	background-color:#002E54;
	color:#f2f2f2!important;
}

.no-padding{
	padding:0;
}

.nav-link{
	padding-top:10px;
	padding-bottom:10px;
	padding-right: 20px!important;
	padding-left: 20px!important;
	font-weight: 500;
}

.card-user{
	background-color:#eaeaea;
	padding:30px;
	border-radius:10px;
}

.container{
	padding:0;
}

.option-user{
	background-color:#002E54;
	color:#f2f2f2;
	border-radius:5px;
	margin-right:10px;
	margin-bottom:10px;
	padding:20px 0px;
	transition: .5s;
	text-align:center;
}

.option-user:hover{
	background-color:#f2f2f2;
	color:#002E54;
	cursor:pointer;
	transition: .5s;
}

.option-user p{
	margin-top:10px;
	margin-bottom:0;
	font-size: 1em;
	font-weight: 500;
	line-height:1em;
}

.sa{
	--bs-gutter-x: 0;
}

.left-input{
	margin-right:20px;
}

.table{
	padding:20px 40px;
	border-radius:5px;
}

.main-content{
	padding-top:20px;
}

.sidebar{
    position: relative;
    z-index: 5;
    padding:20px;
    border-radius:5px;
    background-color:#fff;
}
.sidebar-admin::before{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('data:image/svg+xml,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-server" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4C14.665 5.474 11.68 6.667 8 6.667 4.318 6.667 1.333 5.473 1.333 4V2.667zm0 3.667v3C1.333 10.805 4.318 12 8 12c3.68 0 6.665-1.193 6.667-2.665V6.334c-.43.32-.931.58-1.458.79C11.81 7.684 9.967 8 8 8c-1.967 0-3.81-.317-5.21-.876a6.508 6.508 0 0 1-1.457-.79zm13.334 5.334c-.43.319-.931.578-1.458.789-1.4.56-3.242.876-5.209.876-1.967 0-3.81-.316-5.21-.876a6.51 6.51 0 0 1-1.457-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"/></svg>') no-repeat 120% 50%;
    background-size: 15em;
    opacity: .05;
}
.file-upload{
    display: block;
    color:#f55d3e;
    border:0px solid #fff;
    margin:0;
}
.edit-product{
	display:inline-block;
	background-color:#002E54;
	color:#f2f2f2;
	border-radius:5px;
	margin-right:10px;
	margin-bottom:10px;
	padding:10px;
	transition: .5s;
	text-align:center;
}
.edit-product:hover{
	background-color:#f2f2f2;
	color:#002E54;
	cursor:pointer;
	transition: .5s;
}

#selectCliente, #selectProducto{
    height: calc(3.5rem + 2px);
}

.contenido{
	padding: 20px 40px;
	border-radius: 5px;
}

.btn-success {
    background-color: #33CC33;
    border-color: #33CC33;
}
.btn-primary {
	background-color: #002E54;
    border-color: #002E54;
}

tfoot > tr{
	border-style:none;
}